{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "importOrder": [
    "^react$",
    "^react-dom(.*)$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/api/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/context/(.*)$",
    "^@/pages/(.*)$",
    "^@/routes/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrderTypeScriptVersion": "5.0.0"
}
